$pixels_46: 16px;
$pixels_32: 32px;
$pixels_28: 28px;
$pixels_24: 24px;
$pixels_16: 16px;
$image_size: 680px;
$yellow:#FFE600;
$dark_gray:#333;
$gray:#666;
$light_gray:#999;
$lighter_gray:#EEE;
$blue:#3483FA;

.card {
    min-height: 150px;
    background-color: white;
    padding: $pixels_32;
    .item-content{
        float: left;
        width: 100%;
        img {
            width: $image_size;
            height: $image_size;
            object-fit: contain;
            border-radius: 4px;
        }
        .price {
            .currency{
                margin-right: 15px;
            }
            font-size: 46px;
            margin-bottom: $pixels_32;
        }   
        .title {
            font-size: 24px;
            margin-bottom: $pixels_32;
            font-weight: 600;
        }
        .decimals {
            font-size: 18px;
            position: relative;
            top: -20px;
        }
        .img-item{
            float:left;
        }
        .item-info-content{
            padding-top: $pixels_32;
            .item-condition {
                margin-bottom: $pixels_16;
            }
        }
        
        button {
            margin-right: $pixels_32;
            padding: 10px;
            width: 28%;
            min-width: 120px;
            color: white;
            background-color: $blue;
            border-radius: 4px;
            border: none;
            outline: none;
        }
    }
    .description-title {
        font-size: 28px;
        margin-bottom: $pixels_32;
    }
    .description{
        font-size: $pixels_16;
        pre{
            margin: 0;
            padding: 0;
        }
    }
}